---
import Header from '../components/Header.astro';
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';

const pageTitle = 'Home';
---

<Layout pageTitle={pageTitle} >
  <Header pageTitle={pageTitle} />

  <main>
    <Hero />
    <Services />
  </main>
</Layout>
