---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../sections/Banner.astro';
import Blog from '../sections/Blog.astro';
import Hero from '../sections/Hero.astro';
import Ideas from '../sections/Ideas.astro';
import Portfolio from '../sections/Portfolio.astro';
import Services from '../sections/Services.astro';

const pageTitle = 'Home';
---

<Layout pageTitle={pageTitle} >
  <Header pageTitle={pageTitle} />

  <main>
    <Hero />
    <Services />
    <Portfolio />
    <Ideas />
    <Banner />
    <Blog />
    <Footer />
  </main>
</Layout>
