---
import RightArrowIcon from "../assets/icon/right-arrow-icon.astro";

interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<article class="max-w-xs h-full py-16 px-8 bg-white rounded-2xl text-balance">
  <h1 class="font-bold text-lg md:text-xl">{title}</h1>
  <p class="text-black opacity-80">{description}</p>

  <a class="inline-flex gap-4 items-center mt-8 text-dark decoration-wavy hover:underline" href={url} target="_blank" rel="noopener noreferrer">
    Read More
    <RightArrowIcon />
  </a>
</article>