---
interface Props {
  img: string;
  description: string;
}

const { img, description } = Astro.props;
---

<div class="max-w-2xs">
  <img class="max-w-full mb-8 rounded-xl" src={img} alt={description} />
  <p>{description}</p>
</div>
