---
import RightArrowIcon from '../assets/icon/right-arrow-icon.astro';

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---
<article class="p-8 pt-20 border-t-dark border-t-4 bg-white rounded-lg">
  <div class="relative mb-10">
    <span class="inline-block w-12 h-12 bg-dark opacity-20 rounded-full"></span>
    <img class="absolute top-3 left-3 z-10 text-dark" src={icon} alt={`${title} icon`} />
  </div>
  <h3>{title}</h3>
  <p>{description}</p>

  <a class="inline-flex gap-4 items-center mt-8 text-dark decoration-wavy hover:underline" href="/">
    Read More
    <RightArrowIcon />
  </a>
</article>
