<section class="relative py-48 bg-dark overflow-hidden">
  <div class="flex flex-col items-center justify-center gap-8 w-4/5 mx-auto text-center">
    <h2 class="font-bold text-3xl md:text-5xl">Interested to work with us?</h2>
    <p>Send a line here get and update daily</p>
    <a class="py-6 px-12 bg-black rounded-full text-white font-semibold" href="">DaCode@example.com</a>
  </div>

  <div class="absolute w-40 h-40 bottom-0 left-0 -translate-x-6 translate-y-6 bg-white opacity-10 rounded-full md:w-60 md:h-60 md:-translate-x-12 md:translate-y-12 lg:w-80 lg:h-80 lg:-translate-x-16 lg:translate-y-16"></div>
</section>
