<section id="blog" class="flex flex-row bg-secondary-light py-40" aria-labelledby="blog-heading">
  <div class="w-4/5 mx-auto">
    <span class="mb-6 font-bold text-lg text-secondary">News & Articles</span>
    <h2 class="mt-4 mb-6 font-bold text-3xl md:text-5xl" id="blog-heading">DaCode Blog</h2>
    <p class="mb-12 text-balance">
      On DaCode blog we will review the latest in web development for the SaaS-, tech- and crypto industry.
    </p>
    <a href="/" class="py-3 px-12 border-2 border-secondary rounded-full font-bold text-secondary cursor-pointer">See All</a>
  </div>
  <div></div>
</section>