<section class="relative flex flex-col-reverse justify-center max-w-7xl mx-auto pt-24 overflow-hidden max-h-svh lg:flex-row lg:justify-evenly lg:items-center lg:pt-44">
  <img class="absolute top-9/12 -left-8 w-4/5 -z-10 md:left-0 md:w-2/3 lg:top-3/5 lg:w-2/5" src="img/circle-secondary.svg" alt="Circles">

  <div class="w-4/5 mx-auto mb-8 md:max-w-[60ch] md:mb-12 lg:w-3/5 lg:mx-0 lg:mb-24">
    <hr class="w-32 h-1 mb-2 bg-secondary border-0 rounded">
    <h1 class="mb-6 font-bold text-3xl text-balance md:text-5xl">We help you create your <span class="text-dark">website</span></h1>
    <p class="mb-8 text-balance md:mb-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut turpis adipiscing tempus, magna elit nunc iaculis sit. Libero velit quis leo non. At donec egestas cras in libero pellentesque. Donec amet phasellus
    </p>

    <div class="flex space-x-4 font-bold">
      <button class="text-white bg-dark px-6 py-4 rounded-full shadow-2xl shadow-dark cursor-pointer">GetSarted</button>
      <button class="text-dark px-6 py-4 cursor-pointer">Contact Us</button>
    </div>
  </div>

  <div class="relative w-4/6 mx-auto mb-4 -translate-x-6 lg:w-2/5 lg:m-0">
    <img class="w-full max-w-lg mx-auto lg:absolute lg:-translate-y-1/2" src="img/analyse-1.png" alt="Analyse">
    <img class="absolute top-1/12 -right-1/12 w-3/5 max-w-2xs -z-10 md:-right-6 lg:-translate-y-2/3" src="img/circle-dark.svg" alt="Circles">
  </div>
</section>
