<section class="relative flex justify-evenly items-center min-h-svh overflow-hidden">
  <img class="absolute -left-4 top-3/5" src="img/circle-secondary.svg" alt="Circles">
  <img class="absolute right-12" src="img/circle-dark.svg" alt="Circles">

  <div class="w-1/3">
    <hr class="w-32 h-1 mb-2 bg-seconday border-0 rounded">
    <h1 class="mb-6 font-bold text-5xl">We help you create your <span class="text-dark">website</span></h1>
    <p class="mb-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut turpis adipiscing tempus, magna elit nunc iaculis sit. Libero velit quis leo non. At donec egestas cras in libero pellentesque. Donec amet phasellus
    </p>

    <div class="flex space-x-4 font-bold">
      <button class="text-white bg-dark px-6 py-4 rounded-full shadow-2xl shadow-dark cursor-pointer">GetSarted</button>
      <button class="text-dark px-6 py-4 cursor-pointer">Contact Us</button>
    </div>
  </div>

  <div class="relative w-1/3">
    <img class="absolute -left-60 -translate-y-1/2 max-w-3xl" src="img/analyse-1.png" alt="Analyse">
  </div>
</section>
