---
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    img: "/img/project-1.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus vitae tortor sapien, lectus scelerisque porttitor. Dolor nulla bibendum",
  },
  {
    img: "/img/project-2.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus vitae tortor sapien, lectus scelerisque porttitor. Dolor nulla bibendum",
  },
  {
    img: "/img/project-3.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus vitae tortor sapien, lectus scelerisque porttitor. Dolor nulla bibendum",
  },
];
---

<section class="max-w-screen-lg mx-auto pt-20 pb-36">
  <div class="mb-16 text-center">
    <span class="font-bold text-seconday">Portfolio</span>
    <h2 class="mt-4 font-bold text-4xl">Out Great Work</h2>
  </div>

  <div class="flex justify-center gap-8 mb-12">
    <a class="py-4 px-8 border-2 border-seconday rounded-full font-bold text-seconday" href="/">Web Development</a>
    <a class="py-4 px-8 rounded-full font-bold text-seconday" href="/">Design</a>
    <a class="py-4 px-8 rounded-full font-bold text-seconday" href="/">Marketing</a>
  </div>

  <div class="grid grid-cols-3 gap-8">
    {
      projects.map((project) => (
        <ProjectCard img={project.img} description={project.description} />
      ))
    }

    <!-- <a href="/">See All</a> -->
  </div>
</section>
