---
import ServiceCard from "../components/ServiceCard.astro";

const services = [
  {
    title: 'Web Development',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/web-site.svg',
  },
  {
    title: 'Design',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/web-design.svg',
  },
  {
    title: 'SEO',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/layers.svg',
  },
  {
    title: 'Marketing',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/startup.svg',
  },
  {
    title: 'Consulting',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/layers.svg',
  },
  {
    title: 'Site Optimisation',
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.',
    icon: 'icon/magnifying-glass.svg',
  }
];
---
<section class="relative flex flex-col items-center mx-auto pt-20 pb-36 bg-teal-50 overflow-hidden" id="services">
  <img class="absolute w-1/5 right-1/12 bottom-8" src="img/circle-secondary.svg" alt="Circles">

  <h2 class="mb-6 font-bold text-4xl">Our Services</h2>
  <p class="w-4/5 mb-12 text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
tempor invidunt ut labore et.</p>

  <div class="grid max-w-screen-lg w-4/5 gap-8 z-10 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map((service, index) => (
        <ServiceCard {...service} />
      ))
    }
  </div>
</section>
